<h1 class="m-3" >Stupid coaching</h1>
<p class="ms-3" >Ask your coach anything :</p>

<form class="form-label m-3 align-items-center" action="/answer" method="get">
  <input  class="form-text align-items-center" type="text" name="question" placeholder="What's your question?">
  <input class="btn btn-primary" type="submit" value="Ask!">
</form>
